/***************************************
	ADMIN AREA - PLUGIN SETTINGS
****************************************/
.plugin_details {
	margin:0 10px 5px;
	padding:0 7px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.plugin_details > .drag {
	background: url(/_graphics/icon_customise_drag.gif) no-repeat top left;
	cursor: move;
	height:16px;
	width: 16px;
	display: inline-block;
	margin: 3px 3px 0px 0px;
}